.cards {
    width: 100%;
    margin: 15% auto;
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 16px;
    background-image: url('../../../public//images/cyber-security.png');
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 60%;

}

.cards_button {
    background-color: #2898a7;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.cards_button:hover {
    background-color: #218838
}