.header {
    padding: 10px;
    height: 60px;
    background-color: rgb(20, 74, 134);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    background-image: url('../../../public/images/ip.png'); 
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.header_buttons {
  display: flex;
  gap: 15px;
}

.header_button {
    margin: 0px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #94d3a2; 
    color: white;
}

.header_button:hover {
  background-color: darkgray;
}

@media screen and (max-width: 320px) {
  .header_buttons {
    width: 124px;
  }
}